/* google font */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom font   */
.font-exo2{
    font-family: "Exo 2", serif;
}



/* work submit */
/*for select input */
.custom-select .ant-select-selector {
    background-color: #f0f8ff; /* Light blue background */
    color: #007acc;          /* Blue text */
    border: 1px solid #007acc;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .custom-select .ant-select-selection-item {
    color: #007acc; /* Style the selected item text */
    font-weight: bold;
  }
  
  .custom-select:hover .ant-select-selector {
    border-color: #005bb5;
  }
/* for date input */
  .custom-date .ant-picker-input input {
    color: #388e3c;   
    font-weight: bold;       
  }
  .custom-date:hover{
    border-color: #388e3c; 
  }
  /* for number input */
  .custom-input-number .ant-input-number-input {
    color: #f57c00;        
    font-weight: bold;
  }
  .custom-input-number:hover{
    border-color: #f57c00;
  }
  /* for button */
  .custom-button {
    background-color: #4caf50; /* Green button */
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .custom-button:hover {
    background-color: #388e3c; /* Darker green on hover */
  }


  /* modal */
  .modal-button{
   background-color: "red"!important;
  }

  /*  */
  .ant-breadcrumb {
    white-space: nowrap;
  }
  
  .ant-breadcrumb-link {
    display: inline-block;
  }
  